* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
  }

  main {
    padding-top: 60px; 
    min-height: 100vh; 
  }