@-webkit-keyframes left-to-right {
  from { left: 0; }
  to { left: 100vw; }
}

@-webkit-keyframes right-to-left {
  0% { left: 100vw; z-index: 1;}  
  50% { left: -100vw; z-index: -999; }  
  100% { left: 0; } 
}

@keyframes left-to-right {
  from { left: 0; }
  to { left: 100vw }
}

@keyframes right-to-left {
  0% { left: 100vw; z-index: 1;}  
  50% { left: -100vw; z-index: -999;}  
  100% { left: 0;}  
}

.helperDiv {
display: flex;
position: relative;
overflow: hidden;
transition: none;
}
.siteName {
    color:#232322;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.helperDiv.active {
animation: left-to-right 2s ease-in-out forwards;
-webkit-animation: left-to-right 2s ease-in-out forwards;
}

.helperDiv.exit {
animation: right-to-left 2s ease-in-out forwards;
-webkit-animation: right-to-left 2s ease-in-out forwards;
}

.navbar {
  z-index: 1;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  padding: 12.5px 40px;
  background-color: #6CB4EE;
  color: white;
}
.great-vibes-regular {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}

.navbarA {
  padding-left: 15px;
}
.navbarSecond {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: -100vw;
  width: 100vw;
  height: 100%;
  z-index: 5;
  background-color: rgb(0,0,0,.9);
  transition: left 0.9s ease;
}
.navbarSecond.active {
  left: 0;
}
.navbarTexts {
  margin-bottom: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbarText {
  margin-top: 10px;
  padding: 8px 8px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
  transition: .3s;
}
.navbarText:hover {
  color: #f77f57 ;
}
.xbutton {
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  margin: 10px 20px;
  font-size: 25px;
  border: none;
  transition: .3s;
}
.xbutton:hover {
  color: #f77f57;
}

.Carousel {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 90px;
  overflow: hidden;
  height: 514px;
  font-family: 'Open Sans',sans-serif;
  background-color: #F0F8FF;

}
.CarouselDivFirst {
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.CarouselHeader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100px;
}
.CarouselImage {
  width: 540px;
  height: 514px;
}
.CarouselButton {
  width: 170px;
  cursor: pointer;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #252525;
  color: #fff;
  transition: 0.2s;
}
.CarouselButton:hover {
  background-color: #0CAFFF;
  color: #fff;
}
.CarouselText {
  margin-top: 10px;
}
.helperDiv {
  display: flex;
}
.Products {
  width: 100vw;
  padding-top: 90px;
}
.ProductsHeader {
  font-family: 'Open Sans',sans-serif;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  color: #232322;
  text-align: center;
}
.Product {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  flex-direction: column;
}
.ProductsHeader1 {
  font-family: 'Open Sans',sans-serif;
  padding-top: 5px;
  font-size: 16px;
  color: #232322;
  text-align: center;
}
.ProductFirstDiv {
  display: flex;
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: black;
  flex-direction: column;
  width: 300px;
}
.ProductSecondDiv {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #000;
  width: 300px;
  height: 70px;
}
.ProductImg {
  width: 100%;
  height: 250px;
}
.ParentDivofProduct {
  display: flex;
  justify-content: center;
  width: 1400px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.ProductButton {
  cursor: pointer;
  background-color: #6CB4EE;
  color: white;
  width: 90px;
  margin-left: 3px;
  border-radius: 20px;
  height: 40px;
}
.ProductButton1 {
  cursor: pointer;
  color: black;
  width: 90px;
  margin-left: 3px;
  border-radius: 20px;
  height: 40px;
}
.ProductButton1:hover {
  transition: 0.2s;
  background-color: #6CB4EE;
  color: white;
}
.ProductTitle {
  white-space: nowrap;
  overflow: hidden;
}
.ProductDescription {
  font-family: sans-serif;
  text-overflow: ellipsis;
  height: 15px;
  white-space: nowrap;         
  overflow: hidden;  
}
.ProductText {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  font-family: sans-serif;
  
}
.seemoreButton {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
}
.addProductsButton, .editProductsButton, .updateProductsButton,.deleteProductsButton{
  font-weight: 700;
  color: white;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  height: 50px;
}
.editProductsButton:hover,.updateProductsButton:hover, .seemoreButton:hover ,.addProductsButton:hover, .deleteProductsButton:hover {
  transition: .2s;
  background-color: #6CB4EE;
}

.div {
  height: 500px;
  align-items: center;
  background-color: #F0F8FF;
  justify-content: center;
  display: flex;
}
.restHeader {
  font-family: sans-serif;
  font-size: 44px;
}
.restImg {
  width: 500px;
  height: 300px;
}
.restText {
  font-family: sans-serif;
  margin-right: 10px;
  margin-top: 20px;
  width: 450px;
}
.restmainDiv {
  background-color:whitesmoke;
  margin-top: 80px;
  padding-bottom: 50px;
}
.restButton {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #363636; 
  color: white;

}
.restButton:hover {
  transition: 0.2s;
  background-color: white;
  color: #363636;
}
.div1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: 70px;

}
.restButton1 {
  margin-Right: 20px; 
  cursor: pointer;
  background-color: white;
  border: none;
  width: 70px;
  height: 70px;
  border-Radius: 40px
}
.restButton1:hover {
  transition: .3s;
  background-color: #F0F8FF;
}
.restDiv {
  width: 800px;
  background-color: #F0F8FF;
  margin-top: 50px;
}
.footerDiv {
  font-size: 24px;
  display: flex;
  color: white;
  justify-content: space-around;
  padding-Top: 100px;
  font-family: sans-serif;
  width: 100vw;
  height: 500px;
  background-color: #252525;
}
.ParentDivofProducts {
  display: flex;
  justify-content: center;
  width: 1400px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 50px;
}
