.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12.5px 40px;
  background-color: #fef4ec;
}
.navbarA {
  padding-left: 15px;
}
.navbarSecond {
  display: flex;
  justify-content: space-between;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  background-color: rgb(0,0,0,.9);
  transition: left 0.9s ease;
}
.navbarSecond.active {
  left: 0;
}
.navbarTexts {
  margin-bottom: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbarText {
  margin-top: 10px;
  padding: 8px 8px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
.xbutton {
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;
  margin: 5px 5px;
  font-size: 30px;
  border: none;
}